@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 17px;
  letter-spacing: 2px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

:root {
  --primaryColor: white;
  --secondaryColor: black;
  --altBgColor: rgba(0, 0, 0, 0.05);
  --filterColor: hue-rotate(0deg);
  --emojiSize: 2em;
  --caption: 'clck 2 eat';
}

body {
  background: var(--primaryColor);
  color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  align-content: center;
  justify-content: center;
  align-self: center;
}

main {
  height: auto;
  flex-grow: 1;
  text-align: center;
}

a {
  color: var(--secondaryColor);
  text-decoration: none;
  line-height: 1.3;
  background-color: var(--altBgColor);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fadeIn;
  opacity: 1;
}

.emoji {
  font-size: var(--emojiSize);
  filter: var(--filterColor);
}

.site-name {
  background-color: var(--altBgColor);
  padding: 5px;
  border-radius: 5px;
}

#caption::after {
  content: var(--caption);
}