@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Code', monospace;
  font-size: 17px;
  letter-spacing: 2px;
}

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(63,94,251);
  color: rgb(252,70,107);
  display: flex;
  flex-direction: column;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  height: 33.33%;
  align-content: center;
  justify-content: center;
  align-self: center;
}

main {
  height: auto;
  flex-grow: 1;
  text-align: center;
}

a {
  color: rgb(252,70,107);
  text-decoration: none;
  line-height: 1.3;
  background-color: rgba(1, 1, 1, 0.05);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

a:hover {
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 1s fadeIn;
  opacity: 1;
}

.emoji {
  font-size: 2rem;
}

.site-name {
  background-color: rgba(1, 1, 1, 0.05);
  padding: 5px;
  border-radius: 5px;
}